* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: arial, sans-serif;
    font-size: 13px;
}

.topNavBar {
    display:flex;
    justify-content:flex-end;
}

.topNavItems {
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 48px;
    display: flex;
    align-items: center;
}

.topNavItems li {
    display: inline;
    height: 16px;
    margin-left: 20px;
    margin-top: 9px;
}

.topNavItems li:last-child {
    margin-right: 17px;
    display:flex;
    justify-content: center;
    align-items: center;
    min-width: 96px;
    
}

.connectLink {
    text-decoration: none;
    color: black;
    display: block;
    color: #fff;
    background-color: #2b7de9;
    border-radius: 4px;
    padding: 11px 28px;
}

.topNavItems li:hover {
    cursor: pointer;
}

.up {
    line-height: 0.7;
}