* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: arial, sans-serif;
    font-size: 13px;
}

.topNavBar {
    display:flex;
    justify-content:flex-end;
}

.topNavItems {
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 48px;
    display: flex;
    align-items: center;
}

.topNavItems li {
    display: inline;
    height: 16px;
    margin-left: 20px;
    margin-top: 9px;
}

.topNavItems li:last-child {
    margin-right: 17px;
    display:flex;
    justify-content: center;
    align-items: center;
    min-width: 96px;
    
}

.connectLink {
    font-size: 15px;
    text-decoration: none;
    color: black;
    display: block;
    color: #fff;
    background-color: #2b7de9;
    border-radius: 4px;
    padding: 9px 26px;
}

.topNavItems li:hover {
    cursor: pointer;
}

.up {
    line-height: 0.7;
}

main {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.imageContainer {
    display:flex;
    flex-direction: column;
    align-items: center;
    min-height: 96px;
    width: 100%;
}

.image {
    margin-top: 210px;
}

.mainContent {
    display:flex;
    align-items: center;
    flex-direction: column;
    padding: 25px;
}

.searchBarContainer {
    display: flex;
    justify-content: center;
    border-radius: 25px;
    border:1px solid grey;
    width: 580px;
    height: 50px;
    align-items: center;
}

.searchIcon,
.keyboard {
    display: flex;
    align-items: center;
    margin: 0 10px 0 10px;
}

.searchBar {
    width:500px;
    border: 1px solid black;
}

.searchBar {
    height: 30px;
    width: 500px;
    border: none;
}

.searchBar:focus {
    outline:none;
}
